# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Env
.env
.env.*
!.env.example

# Node
frontend/node_modules/
frontend/dist/

# Python
analytics/.venv/
analytics/__pycache__/
analytics/.pytest_cache/
analytics/.ipynb_checkpoints/

# Laravel
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/bootstrap/cache/*.php
backend/public/build/
