# Laravel / PHP
/vendor
.env
.env.*
!.env.example

/storage/*.key
/storage/logs/*
/bootstrap/cache/*

# Node / Vue
/node_modules
/frontend/node_modules
/public/build
/frontend/dist

# IDE / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / temporary files
*.sqlite
*.db