APP_NAME="NIX LIFE OS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5445
DB_DATABASE=nixlifeos_db
DB_USERNAME=nixlifeos_user
DB_PASSWORD=postgres

CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120